{% macro getSpeaker(courseRef, currentWeekStr, editionSpeakers) %}
  {% if courseRef %}
    {% set parts = courseRef.split(':') %}
    {% set courseName = parts[0] %}
    {% set index = parts[1] %}
    {% set found = "" %}
    {% for weekObj in editionSpeakers %}
      {% if weekObj.week == currentWeekStr %}
        {% for crs in weekObj.courses %}
          {% if crs.name == courseName %}
             {% if index %}
               {% set sName = crs["speaker_" + index] %}
               {% set sInst = crs["institute_" + index] %}
               {% set tName = crs["ta_" + index] %}
               {% set tInst = crs["ta_institute_" + index] %}
               
               {% set sFull = sName + ((" (" + sInst + ")") if sInst else "") %}
               {% set tFull = tName + ((" (" + tInst + ")") if tInst else "") %}
               {% set found = sFull + " &ndash; " + tFull %}
             {% else %}
               {% set sFull = crs.speaker + ((" (" + crs.institute + ")") if crs.institute else "") %}
               {% set tFull = crs.ta + ((" (" + crs.ta_institute + ")") if crs.ta_institute else "") %}
               {% set found = sFull + " &ndash; " + tFull %}
             {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {{ found | safe }}
  {% endif %}
{% endmacro %}
