# OS-specific
.DS_Store
Thumbs.db
config.gypi

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependency directories
node_modules/

# Eleventy output
_site/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
/tmp/
.eleventy-cache/
