---
pagination:
  data: editions.list
  size: 1
  alias: editionData
permalink: "/{{ editionData.year }}/index.html"
layout: layouts/edition.njk
is_edition_page: true
eleventyComputed:
  title: "SWIM@KSoM {{ editionData.year }} - Summer Workshop in Mathematics"
---

SWIM@KSoM is an intensive instructional school in Mathematics planned at {{ edInfo.venue }} from {{ edInfo.dates }}. The workshop involves around 40 lectures on Analysis, Algebra and Linear Algebra, which are augmented by problem solving sessions. This workshop is intended for highly motivated students entering into their third year. The lectures are given by experienced and well known mathematicians.
