---
layout: layouts/edition.njk
title: SWIM@KSoM 2026 - Summer Workshop in Mathematics
is_edition_page: true
edition: 2026
---

SWIM@KSoM is an intensive instructional school in Mathematics planned at Kannur University Campus from May 04, 2026 to May 29, 2026. The workshop involves around 40 lectures on Analysis, Algebra and Linear Algebra, which are augmented by problem solving sessions. This workshop is intended for highly motivated BSc students entering into their third year. The lectures are given by experienced and well known mathematicians.
